<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<!-- font awesome style -->
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="css/responsive.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{{> userheader}}
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <h6 class="mb-0 text-muted">{{count}}</h6>
                                    </div>
                                    <hr class="my-4">
                                    {{#if data.items.length}}
                                    {{#each data.items}}

                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src='../uploads/{{this.product.image}}' class="img-fluid rounded-3"
                                                alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-muted">{{this.product.category}}</h6>
                                            <h6 class="text-black mb-0">{{this.product.productname}}</h6>
                                        </div>


                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <a href="/users/cart/qtyminus/{{this.product._id}} "
                                                class="btn-link px-2 btn-minus" data-productid="{{this.product._id}}"> -
                                                {{!-- <i class="fas fa-minus"></i> --}}
                                            </a>
                                            <input id="quantityLink_{{this.product._id}}" id="" min="0" name="quantity"
                                                value={{this.quantity}} type="text"
                                                class="form-control form-control-sm" />
                                            <a href="/users/cart/qtyadd/{{this.product._id}}"
                                                class="btn-link px-2 btn-add" data-productid="{{this.product._id}}">
                                                +
                                            </a>



                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0">{{this.product.price}}</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="/users/cart/delete/{{this.product._id}}" class="text-muted"><i
                                                    class="fas fa-times"></i></a>
                                        </div>
                                    </div>


                                    {{/each}}
                                    {{/if}}

                                    <hr class="my-4">

                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="/users/allproducts" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">count:{{count}}</h5>
                                        <h5 id="totpriceLink">Rs:{{data.totalPrice}}</h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Standard-Delivery- Rs.50</option>

                                        </select>
                                    </div>



                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5 id="totlink">Rs:{{total}}</h5>
                                    </div>
                                    <a href="/users/checkout">
                                        <button type="submit" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">Checkout</button>
                                    </a>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Inside the <head> section -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    $(document).ready(function () {
        $('.btn-minus').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('productid')
            var uniqueId = 'quantityLink_' + productId;
            $.ajax({
                type: 'GET',
                url: '/users/cart/qtyminus/' + productId,
                success: function (response) {
                    $('#' + uniqueId).val(response.quantity);
                    $('#totpriceLink').text('Rs: ' + response.totalPrice);
                    $('#totlink').text('Rs: ' + (response.totalPrice + 40));
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.btn-add').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('productid');
            var uniqueId = 'quantityLink_' + productId;
            $.ajax({
                type: 'GET',
                url: '/users/cart/qtyadd/' + productId,
                success: function (response) {
                    $('#' + uniqueId).val(response.quantity);
                    $('#totpriceLink').text('Rs: ' + response.totalPrice);
                    $('#totlink').text('Rs: ' + (response.totalPrice + 40));
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>