<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<style>
    @media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }


    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }


    .card-registration .select-arrow {
        top: 13px;
    }


    .bg-grey {
        background-color: #e4deeb;
    }


    @media (min-width: 992px) {
        .card-registration-2 .bg-grey {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }


    @media (max-width: 991px) {
        .card-registration-2 .bg-grey {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }
</style>


<body class="bg-body">




    <section class="h-80 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                            <h6 class="mb-0 text-muted">{{count}} Items</h6>

                                        </div>
                                        {{#if data.items.length}}
                                        {{#each data.items}}
                                        <hr class="my-4">


                                        <div id="cartrow_{{this.product._id}}"
                                            class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="../uploads/{{this.product.image}}" class="img-fluid rounded-3"
                                                    alt="product image">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">{{this.product.productname}}</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">


                                                <a href="/users/cart/qtyminus/{{this.product._id}} "
                                                    class="btn btn-minus" data-productid="{{this.product._id}}"> -
                                                </a>




                                                <button class="quantity"
                                                    id="quantityLink_{{this.product._id}}">{{this.quantity}}</button>



                                                <a href="/users/cart/qtyadd/{{this.product._id}}" class="btn btn-add"
                                                    data-productid="{{this.product._id}}">+


                                                </a>


                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0" id="price_{{this.product._id}}">$
                                                    {{this.product.price}}</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a href="/users/cart/delete/{{this.product._id}}"
                                                    data-productid="{{this.product._id}}">
                                                    <i class="ti ti-trash"></i></a>
                                            </div>
                                        </div>
                                        {{/each}}
                                        {{/if}}







                                        <div class="pt-5">
                                            <h6 class="mb-0"><a href="/users/allproducts1" class="text-body"><i
                                                        class="fas fa-long-arrow-alt-left me-2"></i>Back
                                                    to shop</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">


                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase" id="cartCount">items {{count}}</h5>
                                            <h5 id="totpriceLink">Rs. {{data.totalPrice}}</h5>
                                        </div>


                                        <h5 class="text-uppercase mb-3">Shipping</h5>


                                        <div class="mb-4 pb-2">
                                            <select class="select">
                                                <option value="1">Standard-Delivery- Rs:50</option>


                                            </select>
                                        </div>
                                        <form>
                                            {{#each coupon}}
                                            <p>{{this.code}}-{{this.discount}}</p>
                                            {{/each}}

                                            <input type="text" name="code" placeholder="COUPON CODE">
                                            <button class="new"
                                                data-code="{{this.code}}-{{this.discount}}">Apply</button>

                                        </form>
                                        <hr class="my-4">


                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Total price</h5>
                                            <h5 id="totlink">Rs:{{total}}</h5>
                                        </div>
                                        <a href="/users/checkout">
                                            <button type="button" class="btn btn-dark btn-block btn-lg"
                                                data-mdb-ripple-color="dark">Checkout</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.new').click(function (e) {
                e.preventDefault();
                var codeWithDiscount = $(this).data('code');
                var codeAndDiscount = codeWithDiscount.split('-');
                var code = codeAndDiscount[0];
                var discount = codeAndDiscount[1];
                $.ajax({
                    type: 'POST',
                    url: '/users/cart/coupon',
                    data: { code: code, discount: discount },
                    success: function (response) {
                        $('#totpriceLink').text('Rs: ' + response.totalPrice);
                        $('#totlink').text('Rs: ' + (response.totalPrice + 50));
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>



    <script>
        $(document).ready(function () {
            $('.btn-minus').click(function (e) {
                e.preventDefault();
                var productId = $(this).data('productid')
                var uniqueId = 'quantityLink_' + productId;

                $.ajax({
                    type: 'GET',
                    url: '/users/cart/qtyminus/' + productId,
                    success: function (response) {
                        console.log(response)
                        $('#' + uniqueId).text(response.quantity);
                        $('#totpriceLink').text('Rs. ' + response.totalPrice);
                        $('#totlink').text('Rs. ' + (response.totalPrice + 50));
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.btn-add').click(function (e) {
                e.preventDefault();
                var productId = $(this).data('productid');
                var uniqueId = 'quantityLink_' + productId;
                $.ajax({
                    type: 'GET',
                    url: '/users/cart/qtyadd/' + productId,
                    success: function (response) {
                        $('#' + uniqueId).text(response.quantity + 2);
                        $('#totpriceLink').text('Rs. ' + response.totalPrice);
                        $('#totlink').text('Rs. ' + (response.totalPrice + 50));
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>